.logoCases{
		
		width: 67%;
		margin: auto;
		display: block;
		margin-top: 50px;
}

.footer{

	/*position:absolute;
	bottom: 0;
	width:100%;
	left: 0;*/

	background-color: #6E6E6D;

	.social{
			width: 18%;
	}

	.social_logos{
		padding-top: 20px;
		width: 150px;
		margin:auto;
		height: 50px;
	}


	p{
		color: white;
		font-size: 0.7em;
		width: 300px;
		margin: auto;
		margin-top: 5px;
		text-align: center;
		font-family: 'brandon_grotesquelight';
	}

	a{
		text-decoration: none;
		color: none;
	}

	p:nth-child(4){
		padding-bottom: 20px;
	}
}