header{
	
	width: 100%;
	height: 80px;
	background-color: $background-color;
	

	#wrapper_logo{
		
		height: auto;
		width: 170px;
		margin-top: 0;
		margin-left: 13%;
		display: block;
	}

	.display_none{
		display:none !important;
	}

	.display_block{
		display: block !important;
	}


	.logo_static{
		display: block;
	}

	.logo_animation{
		display: none;
	}

	.logo_brikk_fixed{
		display: none;
	}
	
	#wrapper_logo:hover .logo_static{
		cursor: pointer;
		display: none;
	}

	#wrapper_logo:hover .logo_animation{
		display: block;
		cursor: pointer;
	}

	#navigation ul{
		margin-top: -45px;
		float: left;
		margin-left: 30%;
		margin-right: 10%;
		width: 100%;
		
	}

	#navigation li{

		display: inline-block;
		margin-left: 30px;
		text-transform: uppercase;
		font-size: 0.8em;
		list-style: none;
	}

	#menu-item-251{
		padding-left: 12%;
	}

	.language{
		padding-left: 160px;	
		font-family: 'brandon_grotesquebold';

	}
	
	#navigation{
		li:last-of-type{
			// margin-left: -120px;
		}
	}

	#navigation a{
		text-decoration: none;
		color: $font-color;

		&:hover{
		
			font-family: 'brandon_grotesquebold';
			color:#FFA65E;

		}
	}

	#languageChanger{
		float: left;
	}
	#responsive_menu{

		display: none;

	}

	/*position: fixed;*/
	z-index:999999999999999999999999999999999999999999999999999999999999999999999999;
}