body {
	
	background: #fafaf9;

	&:before {

		width: auto;
	}


}

#post-21{
	padding:0;
	background-color: none;
	box-shadow:none;
	margin: 0;
	background: #fafaf9;
}

.entry-content{
	box-shadow: 0;
	padding:0;
}

.site-content {

	margin-left: 0;
	width: auto;
}

.site-main {
	padding: 0;
}